<p><%= link_to "restart!", "index" %></p>
Took the code: <%= @code %><br />
Taking a token...<br />

<% if(@parsed_json_token_data["error"].present?) %>
  <%= debug(@parsed_json_token_data) %>
<% else %>
  Gotcha! <%= @parsed_json_token_data["access_token"] %><br />
  Expires in: <%= @parsed_json_token_data["expires_in"] %><br />
  User id: <%= @parsed_json_token_data["user_id"] %><br />
<% end %>

<p>Friends info:</p>
<!--<%= debug(@parsed_json_friends) %><br /-->
<pre><%= @parsed_json_friends.inspect %></pre>
