<p><%= link_to "к индексу", "index" %></p>
Took the code: <%= @code %><br />
Taking a token...<br />

<% if(@parsed_json_token_data["error"].present?) %>
  <%= debug(@parsed_json_token_data) %>
<% else %>
  Gotcha! <%= @parsed_json_token_data["access_token"] %><br />
  Expires in: <%= @parsed_json_token_data["expires_in"] %><br />
  User id: <%= @parsed_json_token_data["user_id"] %><br />
  <p><%= link_to "запостить на стену тестовое сообщение(wall.post)", "post?access_token="+@parsed_json_token_data["access_token"] %></p>
  <p><%= link_to "запостить на стену тестовое сообщение(wall.savePost)", "postsave?access_token="+@parsed_json_token_data["access_token"]+"&wall_id="+@parsed_json_token_data["user_id"] %></p>
<% end %>

<p>Friends info:</p>
<pre><%= @parsed_json_friends.inspect %></pre>





<!-- TESTS -->
<!--<%= debug(@parsed_json_friends) %><br /-->

<!--p>Test of the first user info retrieve:</p>
<%= @parsed_json_friends["response"][0]["uid"] %><br />
<%= @parsed_json_friends["response"][0]["first_name"] %><br />
<%= @parsed_json_friends["response"][0]["last_name"] %><br /-->

<!--p>All info retrieve:</p>
  <% @parsed_json_friends["response"].each do |friend| %>
    <%= friend["uid"] %>
  <% end %>
<br /-->
